body {
  background-color: cornsilk;
}

h1 {
  text-align: center;
  font-size: 80px;
  margin-top: 60px;
}

p {
  margin: 20px;
  line-height: 1.5;
  text-align: center;
}

a {
  color: green;
  padding: 20px;
}

footer {
  text-align: center;
}

img {
  max-width: 50%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
  padding-bottom: 40px;
}

.picture-title {
  font-size: 40px;
  padding: 20px;
}

.github-link {
  display: block;
}
